.cont__height {
  min-height: 650px;
}
.main__cont__cart {
  /* min-height: 650px; */
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-gap: 2rem;
}
.cart__section {
  background: white;
  border-radius: 15px;
  padding: 0.8rem;
}
.price__section {
  background: white;
  border-radius: 15px;
  padding: 0.8rem;
}
.cart__section h6 {
  margin-bottom: 0;
}
.price__section h6 {
  margin-bottom: 0;
}
.ant-divider-horizontal {
  margin: 10px 0 !important;
}
.cart__data {
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: rgba(226, 226, 226, 0.671);
  border-radius: 10px;
  display: flex;
}
.cart__data img {
  width: 6rem;
  border-radius: 5px;
}
.cart__prod {
  margin-left: 1rem;
}
.cart__prod p {
  margin-bottom: 0.5rem;
}
.cart__prod h6 span {
  text-decoration: line-through;
  color: grey;
  margin-right: 0.5rem;
}
.select__item {
  margin: 0.5rem 0;
}
.opt__button {
  margin: 0.8rem 0;
  display: flex;
}
.opt__button button {
  margin-left: 0.7rem;
  padding: 0 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.37);
}
.select__count {
  background: white;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.37);
}
.price {
  display: flex;
  justify-content: space-between;
}
.price p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(94, 94, 94);
}
.cart__security {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.cart__security i {
  font-size: 2.5rem;
  margin: 0 0.5rem;
  color: rgb(104, 104, 104);
}
.cart__security h6 {
  color: rgb(104, 104, 104);
  font-size: 1.05rem;
}
.place__order {
  float: right;
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  font-weight: 500;
  background: rgb(255, 189, 90);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.place__order:hover {
  box-shadow: 2px 2px 6px 1px rgba(255, 167, 34, 0.384);
}
.discount__price {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none !important;
  color: rgb(67, 102, 255) !important;
}
.cart__empty {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart__empty img {
  width: 15rem;
}

@media only screen and (max-width: 770px) {
  .main__cont__cart {
    grid-template-columns: 1fr;
  }
}
