.div__arrivals {
  padding-bottom: 3rem;
}
.div__arrivals h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-left: 1rem;
}
.prod__card__sec {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.prod__card {
  position: relative;
  background: white;
  padding: 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.prod__card:hover {
  box-shadow: 0 0.5rem 1rem rgba(170, 170, 170, 0.336);
  transform: translate(0, -10px);
}
.img__sec {
  display: flex;
  justify-content: center;
}
.img__sec img {
  object-fit: contain;
  width: 100%;
  border-radius: 4px;
}
.prod__cont {
  margin-top: 1rem;
  /* display: flex;
  justify-content: space-between; */
}
.prod__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 4rem;
  background-color: rgb(145, 147, 255);
  /* background-color: rgb(255, 145, 187); */
  cursor: pointer;
  transform: translate(100px, 0);
  transition: 0.8s;
  border-radius: 1rem 0 0 1rem;
}
.prod__cart:hover {
  box-shadow: -0.2rem 0.2rem 0.3rem rgb(145, 147, 255, 0.363);
}
.prod__card:hover .prod__cart {
  transform: translate(0, 0);
}
.prod__cart i {
  font-size: 1.2rem;
  color: white;
}
.prod__cont h6 {
  color: rgb(133, 133, 133);
  font-size: 1.2rem;
}
.prod__price h6 span {
  margin-right: 0.3rem;
  font-size: 0.9rem;
  text-decoration: line-through;
  color: rgb(190, 190, 190);
}
.main_whish {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  transition: transform 0.6s;
}

.prod__card:hover .main_whish {
  transform: rotateY(180deg);
}
.whish__list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(219, 219, 219, 0);
  height: 2.3rem;
  width: 2.3rem;
  font-size: 1.2rem;
  border-radius: 0.9rem;
  color: rgba(255, 145, 187, 0);
  cursor: pointer;
  transition: 0.3s;
}
.prod__card:hover .whish__list {
  background: rgb(238, 238, 238);
  color: rgb(255, 145, 187);
}
.offer_list {
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding: 0.4rem 0.8rem;

  background: rgb(255, 145, 187);
  border-radius: 1.3rem 2rem 2rem 0;
}
.offer_list p {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0;
}
@media only screen and (max-width: 990px) {
  .div__arrivals h1 {
    font-size: 1.8rem;
  }
  .prod__card__sec {
    padding: 1rem 0;
  }
  .prod__card__sec {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main_whish {
    top: 0.6rem;
    right: 0.6rem;
  }
}
@media only screen and (max-width: 770px) {
  .prod__card__sec {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .prod__price h5 {
    font-size: 1rem;
  }
  .prod__price h6 {
    font-size: 0.9rem;
  }
}
